@{
    ViewBag.Title = "About";
}

<br />
<br />
<h3>This is a section about the project - TeaCat System</h3>
<p>Author - Krunoslav Bubanj</p>
<p>Student number: x18110274</p>
<p>BSHCSD4</p>
<p>Module: Software Project</p>
<p>Year 2021</p>
<br />
<h3>Project info</h3>
<p>Ticketing system with CRM elements</p>
<p>Built with ASP.NET MVC with Entity framework, Code First approach and Razor</p>
<br />
<p>Implemented:</p>
<p>- Database tables with relationships</p>
<p>- Models for Agents, Departments, Keywords, Users, Roles and Tickets</p>
<p>- Contollers for Agents, Departments, Keywords and Tickets</p>
<p>- Views for every model</p>
<p>- Registration functionality</p>
<p>- Login functionality</p>
<p>- Edit user details functionality</p>
<p>- Change user password functionality</p>
<p>- Elevate users to various roles</p>
<p>- Search function for Agents, Departments and Tickets</p>
<p>- Pagination for Agents and Tickets</p>
<p>- Create functionality for Agents, Departments, Keywords and Tickets</p>
<p>- Delete functionality for Agents, Departments, Keywords and Tickets</p>
<p>- Edit functionality for Agents, Departments, Keywords and Tickets</p>
<p>- View details functionality for Agents, Departments, Keywords and Tickets</p>
<p>- View all entries functionality for Agents, Departments, Keywords and Tickets</p>
<p>- 4 different user roles</p>
<p>- Authorization levels based on user roles</p>
<p>- Artificial intelligence for assigning tickets to agents</p>
<p>- New bootstrap for shared layout across all pages</p>

