@{
    ViewBag.Title = "About";
}

<br />
<br />
<h3>This is a section about the project - TeaCat System</h3>
<p>Author - Krunoslav Bubanj</p>
<p>Student number: x18110274</p>
<p>BSHCSD4</p>
<p>Module: Software Project</p>
<p>Year 2020</p>
<br />
<h3>Project info</h3>
<p>Ticketing system with CRM elements</p>
<p>Built with ASP.NET MVC with Entity framework and Razor</p>
<br />
<p>Implemented so far:</p>
<p>- Database tables with relationships</p>
<p>- Models for Agent, Assignment and Ticket</p>
<p>- Contollers for Agent, Assignment and Ticket</p>
<p>- Views for Index, About, Registration, Login, Agent and Ticket</p>
<p>- Registration functionality</p>
<p>- Login functionality</p>
<p>- Search function for Agents and Tickets</p>
<p>- Pagination for Agents and Tickets</p>
<p>- Create functionality for Agents and Tickets</p>
<p>- Delete functionality for Agents and Tickets</p>
<p>- Edit functionality for Agents and Tickets</p>
<p>- View/Read functionality for Agents and Tickets</p>
<p>- New bootstrap for shared layout across all pages</p>

