@{
    ViewBag.Title = "TeaCat System";
}

<div class="jumbotron">
    <h2>Your Dashboard</h2>
    <p class="lead">Quick access to some useful links</p>
</div>

<div class="row">
    <div class="col-md-6">
        <br />
        <img width="300px" src="~/Content/Images/create.PNG" />
        <br />
        <br />
        <br />
        <img width="300px" src="~/Content/Images/view.PNG" />
        <br />
        <br />

    </div>

    <div class="col-md-6">

        <h3>Experiencing issues? Submit a ticket and our dedicated team will get right on it!</h3>
        <p> <input type="button" class="btn btn-default" value="Create a new ticket" onclick="location.href='@Url.Action("Create", "Ticket")'" /></p>
        <br />
        <br />
        <br />
        <br />
        <h3>Already submitted a ticket? View all of your tickets and their current status!</h3>
        <p> <input type="button" class="btn btn-default" value="View my tickets" onclick="location.href='@Url.Action("MyTickets", "Ticket")'" /></p>

    </div>
</div>
